<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a restaurant</title>
    <link rel="stylesheet" href="/public/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
</head>
<body>
    <main>
        <div class="container">
            <form id="cardForm">
                <div>Create a restaurant</div>
                <div class="div-2">It's quick and easy.</div>
                <input type="text" id="name" placeholder="Card Name" style="margin-bottom: 20px;" required><br>
                <input type="text" id="name" placeholder="Website" style="margin-bottom: 20px;" required><br>
                <input type="text" id="cuisine_nature" placeholder="Cuisine Nature" style="margin-bottom: 20px;" required><br>
                <input type="text" id="address" placeholder="Address" style="margin-bottom: 20px;" required><br>
                <input type="text" id="phone" placeholder="Phone" style="margin-bottom: 20px;" required><br>
                <input type="number" id="rating" placeholder="Rating (2-5)" max="5" style="margin-bottom: 20px;" required><br>
                <input type="text" id="picture" placeholder="Picture URL" style="margin-bottom: 20px;" required><br>
                <button type="submit">Add Restaurant</button>
            </form>
        </div>
    </main>

    <script src="../admin.js"></script>
</body>
</html>