<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TangierEats</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="/public/style2.css">
    <link rel="icon" type="image/x-icon" href="/public/imgs/TangierEatsLogo.png">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
</head>


<body>
    <header>
        <nav>
            <div class="nav__header">
              <div class="nav__logo">
                <a href="#">
                  <img
                    src="/public/imgs/TangierEatsLogo.png"
                    alt="logo"
                    class="nav__logo-dark"
                  />
                  
                </a>
                <p>TangierEats</p>
              </div>
              <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
              </div>
            </div>
            <ul class="nav__links" id="nav-links">
              <li><a href="#home">HOME</a></li>
              <li><a href="#restaurants">RESTAURANTS</a></li>
              <li><a href="#event">EVENTS</a></li>
              <li><a href="#contact">CONTACT US</a></li>
              
              
            </ul>
          </nav>
        
        
    </header>
    <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <main>
        
        <div class="container">
            <div class="section__container header__container" id="home">
                <div class="header__image">
                  <img src="/public/imgs/headerimg.png" alt="header" />
                </div>
                <div class="header__content">
                  
                  <h1>FIND YOUR<br /><span>RESTAURANT</span></h1>
                  <!--search button-->
              <div id="poda">
              <div class="glow"></div>
              <div class="darkBorderBg"></div>
              <div class="darkBorderBg"></div>
              <div class="darkBorderBg"></div>
      
              <div class="white"></div>
      
              <div class="border"></div>
      
              <div id="main">
                  <input oninput="searchRestaurant(this.value)" placeholder="Search..." type="text" name="text" class="input" />
                  <!--search input-->
                  <div id="search-icon">
                  <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke-linejoin="round"
                      stroke-linecap="round"
                      height="24"
                      fill="none"
                      class="feather feather-search"
                  >
                      <circle stroke="url(#search)" r="8" cy="11" cx="11"></circle>
                      <line
                      stroke="url(#searchl)"
                      y2="16.65"
                      y1="22"
                      x2="16.65"
                      x1="22"
                      ></line>
                      <defs>
                      <linearGradient gradientTransform="rotate(50)" id="search">
                          <stop stop-color="#f8e7f8" offset="0%"></stop>
                          <stop stop-color="#b6a9b7" offset="50%"></stop>
                      </linearGradient>
                      <linearGradient id="searchl">
                          <stop stop-color="#b6a9b7" offset="0%"></stop>
                          <stop stop-color="#837484" offset="50%"></stop>
                      </linearGradient>
                      </defs>
                  </svg>
                  </div>
              </div>
              </div>
                </div>
              </div>
            <!-- List of restaurants -->
            <div class="cards">
                
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="section__container footer__container">
          <div class="footer__logo">
            <img src="/public/imgs/TangierEatsLogo.png" alt="logo" />
            <p>TangierEats</p>
          </div>
          <div class="footer__content">
            <p>
              Welcome to Tangier Eats, where passion for exceptional food and
              genuine hospitality come together.rate and find tangier restaurants as you wish to.
            </p>
            <div>
              <ul class="footer__links">
                <li>
                  <span><i class="ri-map-pin-2-fill"></i></span>
                  Tangier, Berchifa akhawadyali, 90000
                </li>
                <li>
                  <span><i class="ri-mail-fill"></i></span>
                  info@burgerhouse.com
                </li>
              </ul>
              <div class="footer__socials">
                <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                <a href="#"><i class="ri-instagram-fill"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-whatsapp-fill"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bar">
          Copyright © 2024 bt Firdaous. All rights reserved.
        </div>
      </footer>
      

    <script src="../main.js"></script>
</body>
</html>